*
!Documents/
!Documents/PowerToys/
!Documents/PowerToys/Backup/
!Documents/PowerToys/Backup/*
!Documents/PowerShell/
!Documents/PowerShell/Microsoft.PowerShell_profile.ps1

!AppData/
!AppData/Roaming/
!AppData/Roaming/AltSnap/
!AppData/Roaming/AltSnap/AltSnap.ini

!.config/
!.config/karabiner/
!.config/karabiner/*
!.config/karabiner/*/
!.config/karabiner/*/*
!.config/wezterm/
!.config/wezterm/wezterm.lua
!.config/tmux.conf
!.config/starship.toml

!.aliases.sh
!.gitconfig
!.tmux.conf
!.zshrc
!.gitignore

!.vimrc
!.vim/
!.vim/colors/
!.vim/colors/jellybeans.vim
